P{
   background-color: darkgoldenrod! important;
   color: blue;
}

body{
  background-color: chartreuse! important;


}
#p1{

  background-color: aqua;
}

p{
background-color: brown important;

}

.div{
  border: 10px;
background-color: blanchedalmond;




}



}







