  /* CSS Background and border */


.image1{
     border-radius: 50%;

}

.div1{
background-color: blueviolet;

}
.div2{
background-image:url(/HTML/waterfall.jpg); 

}

.div3{
background-image: url(/HTML/rose.jpg); 
border: 10px solid;
border-radius: 10%


}

.body{

    background-image: url(/HTML/rose.jpg);

}


.div4{
background-color: blanchedalmond; width: 600px; height: 700px;
    background-image height: 10px; width: 10p: url(/HTML/rose2.jpg);
    border: solid;


}




