



h1{
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large; font: larger; font: bolder; 
    color: gold; text-shadow: 2PX 3PX rgb(145, 20, 20);
    text-align: center;  
    padding-top: 100px;
    position: relative; 
    
    }

    
   